<% for(let i = 0; i < articles.length; i++){ %>
    <article>
        <h2><%= articles[i].title %></h2>
        <p><%= articles[i].body %></p>
    </article>
<% } %>

<form action="addpost" method="post">
    <textarea name="title">title</textarea>
    <br>
    <textarea name="body">body</textarea>
    <input type="submit" value="Add Post">
</form>