<nav class="navbar sticky-top">
    <div class="container">
        <div class="col-sm-4">
            <img src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="">
        </div>

        <div id="quoter" class="col-sm-4 text-center">Don't Panic</div>

        <div class="col-sm-4 text-right">
            <ul class="nav navbar-nav navbar-right">
                <li id="assemblyLogs"><a href="#">ASSEMBLY LOGS</a></li>
                <li id="other"><a href="#">OTHER</a></li>
                <li id="other2"><a href="#">OTHER</a></li>
            </ul>
        </div>
    </div>
</nav>

<noscript>
    What year are you living in? You need to enable JavaScript to run this site.
</noscript>