<!doctype html>

<html lang="{{ .Site.LanguageCode | default "en" }}">

<head>
  <title>{{ .Site.Title }}</title>
  {{ partial "meta" . }}
  {{ partial "header_includes" . -}}

  <!-- dark mode check -->
  <script>
    const theme = localStorage.getItem('theme');
    if (theme === "dark") {
      document.documentElement.setAttribute('data-theme', 'dark');
    }
  </script>
</head>

<body>
  <div id="container">
    <header>
      <h1>
          <a href="{{ relLangURL "/" }}">{{ .Site.Title | markdownify }}</a>
      </h1>

      <ul id="social-media">
        <li><a id="dark-mode-toggle"><i id="dark-mode-toggle--icon" class="icon-moon-o" aria-hidden="true"></i></a></li>
        {{ range .Site.Languages -}}
        {{ if ne .LanguageName $.Site.Language.LanguageName }}
        <li><a href="/{{ .Lang }}">{{ .LanguageName }}</a></li>
        {{ end }}
        {{ end }}
        {{ if .Site.Author.twitter }}
        <li><a href="https://twitter.com/{{ .Site.Author.twitter }}" rel="me"><i class="icon-twitter" aria-hidden="true"></i></a></li>
        {{ end }} 
        {{ if .Site.Author.github }}
        <li><a href="https://github.com/{{ .Site.Author.github }}" rel="me"><i class="icon-github" aria-hidden="true"></i></a></li>
        {{ end }}
      </ul>
      {{ with .Site.Params.tagline }}
      <p><em>{{ . | markdownify }}</em></p>
      {{ end }}
    </header>

    {{ partial "nav" . }}

    <main>
