<link rel="stylesheet" href="/styles/normalize.min.css" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Signika:wght@400;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab|Ruda" />
<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.webp">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<link rel="stylesheet" type="text/css" href="{{ "css/styles.css" | relURL}}" />
{{- range .Site.Params.Assets.customCSS -}}
  <link rel='stylesheet' href='{{ . | absURL }}'>
{{- end -}}
{{ range .Site.Params.custom_css -}}
    <link rel="stylesheet" href="{{ . | absURL }}">
{{- end }}

<link rel="webmention" href="https://webmention.io/ifthenben.com/webmention" />
<link rel="pingback" href="https://webmention.io/ifthenben.com/xmlrpc" />