@font-face {
    font-family: 'minicons';
    src:  url('../fonts/minicons.eot?9zcfcn');
    src:  url('../fonts/minicons.eot?9zcfcn#iefix') format('embedded-opentype'),
      url('../fonts/minicons.ttf?9zcfcn') format('truetype'),
      url('../fonts/minicons.woff?9zcfcn') format('woff'),
      url('../fonts/minicons.svg?9zcfcn#minicons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face{
    font-family: 'JetBrainsMono';
    src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/ttf/JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


/* ===================ICONS===============*/
i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'minicons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-bookmark:before {
    content: "\f02e";
}
.icon-bookmark-o:before {
    content: "\f097";
}
.icon-twitter:before {
    content: "\f099";
}
.icon-github:before {
    content: "\f09b";
}
.icon-chevron-circle-left:before {
    content: "\f137";
}
.icon-chevron-circle-right:before {
    content: "\f138";
}
.icon-exclamation-triangle:before {
    content: "\f071";
}
.icon-external-link:before {
    content: "\f08e";
}
.icon-chain:before {
    content: "\f0c1";
}
.icon-quote-left:before {
    content: "\f10d";
}
.icon-quote-right:before {
    content: "\f10e";
}
.icon-code:before {
    content: "\f121";
}
.icon-chain-broken:before {
    content: "\f127";
}
.icon-sun-o:before {
    content: "\f185";
}
.icon-moon-o:before {
    content: "\f186";
}
.icon-share-alt:before {
    content: "\f1e0";
}
.icon-clone:before {
    content: "\f24d";
}

/*============= ACTUAL CSS=============*/
body {
    color: var(--main-text-color);
    background-color: var(--main-background-color);
}

a {
    color: #CA2323;
    text-decoration: none;
}

a:hover {
    color: #7C0000;
    text-decoration: underline !important;
}

#container main {
    line-height: 1.2;
}

#container nav {
    padding-bottom: 0.1em;
}

#container header h1 a {
    color: var(--h1-text-color);
}

#container nav ul li a.active {
    border-bottom: .2em solid #666666;
}

#container main article p code {
    background-color: var(--inline-code-background-color);
}

#container main article pre {
    background-color: var(--code-background-color);
    color: var(--code-color);
}

pre {
    font-family: JetBrainsMono;
}

code {
    font-family: JetBrainsMono;
}

/*===========DARK MODE==========*/
html, html[data-theme="light"] {
    --main-background-color: white;
    --main-text-color: #333333; 
    --h1-text-color: #000000;
    --inline-code-background-color: #ffcccc;
    --code-background-color: #272822;
    --code-color: #f8f8f2;
    /* TODO move to hsl colours? ! FUTURE PROOFING ! */
}

html[data-theme="dark"] {
    --main-background-color: hsl(0, 0%, 10%);
    --main-text-color: hsl(0, 10%, 80%);
    --h1-text-color: hsl(0, 10%, 80%);
    --inline-code-background-color: #0e141b;
    --code-background-color: #272822;
    --code-color: #f8f8f2;
}

@media (prefers-color-scheme: dark) {
    html {
      content: "dark";
    }
}